[2019-09-04 18:11] cometkim opened #1 "Type definitions generated multiple times at first build."
![image](https://user-images.githubusercontent.com/9696352/64279710-a1e3ad00-cf8a-11e9-953e-ead4cfa457e9.png)

This quiet heavy IO perf. There needs some caching for input or output of codegen

[2019-09-05 17:32] cometkim commented on #1
Closed by 3712d7d4f534b539947c223243512d4704bf9b67

[2019-09-05 17:32] #1 closed, assigned to cometkim

[2019-09-09 10:56] cometkim opened #2 "graphql-tag-plunk is not found"

[2019-09-09 10:57] cometkim opened #3 "Unknown fragments... should to load 3rd party plugin's fragments"

[2019-09-09 10:58] cometkim opened #4 "Write file via stream & Cancelation"

[2019-09-13 12:55] d4rekanguok opened #5 "(non issue) just wanna say hi"
Hey @cometkim, it looks like we both have the same idea for graphql codegen (we're also both based in SK, though I don't speak Korean)! I wrote mine a while ago as a part of a different gatsby typescript related plugin, but recently [extracted it here](https://github.com/d4rekanguok/gatsby-typescript/tree/master/packages/gatsby-plugin-graphql-codegen).

We should have a chat & compare notes someti

[2019-09-24 20:16] cometkim commented on #5
Hey @d4rekanguok.

Yeah we both seem to be interested in TypeScript and Gatsby plugins. Feel free to email, metion/DM @KrComet on twitter anytime. Or meet in seoul and talk about Gatsby if you want :wink:

[2019-09-25 02:27] #5 closed, assigned to nobody

[2019-11-20 01:44] xndyz opened #7 "Errors out when you use fragments that are not locally on Gatbsy"
This plugin will break when you're using Apollo on the client and have any graphql that's not accessible by Gatsby. A possible fix for this is to exclude certain paths in the options.

[2019-11-23 21:19] bitttttten opened #9 "Error: Cannot find module 'graphql-tag-pluck'"
I have a simple page component and I run into the issue above. Not really sure where to go from here, so any tips are appreciated!

[code]

[code]

[code]

[2019-11-23 21:28] bitttttten commented on #9
I installed the module and now it works 🤷‍♂

[2019-11-23 21:28] #9 closed, assigned to nobody

[2019-11-24 21:57] sdobz commented on #7
@fandy Does this PR fix your issue?

[2019-11-26 19:43] xndyz commented on #7
It should fix it, but I'm not sure how to test it out.

[2019-12-07 13:28] Kerumen commented on #2
Fixed by `graphql-toolkit` in [v0.6.8](https://github.com/ardatan/graphql-toolkit/issues/308#issuecomment-550592273)!

[2019-12-09 15:05] six5536 commented on #7
I am also using Apollo and have the same clash problem.
I think it would be cool to extend this plugin to generate the Apollo types too. Would not be too hard. I might be able to do it in the coming week or two, but can't promise it.

[2019-12-17 11:34] Kerumen commented on #2
Do you plan to release a new version with the upgraded packages? I would love to use this plugin but I'm stuck on this error..

They were some breaking changes in [v0.6.0](https://github.com/ardatan/graphql-toolkit/releases/tag/v0.6.0) which make the upgrade non-trivial.

[2019-12-18 14:31] ecklf opened #10 "Race condition when first generating type definitions"
When `node_modules/types/gatsby.ts` does not exist yet I sometimes run into TypeScript compiler issues because the module has not yet been generated.

As far as I know gatsby is running the plugins concurrently, so is there a way to run this plugin manually without `gatsby develop`?

[2020-01-09 17:23] cometkim commented on #3
Duplicates #7

[2020-01-09 17:23] #3 closed, assigned to cometkim

[2020-01-09 17:27] cometkim commented on #7
Hey @fandy @relefant, the @sdobz's fix just have merged into master. see #11

you can use 0.3.0-alpha.0; I'm planning a stable release in middle of this month with more enhancements.

[2020-01-09 17:29] cometkim opened #12 "Exclude non-Gatsby's graphql tags"

[2020-01-09 17:30] #7 closed, assigned to nobody

[2020-01-09 17:33] cometkim commented on #10
Hey @impulse, Can you share the project configuration?

This plugin only generates "types" and Gatsby strips all types by babel, so even if types is not generated it will not affect your build.

[2020-01-09 17:33] cometkim opened #13 "Better plugin options"
- should be able to select between typescript vs flow (#21)
- should be able to enable/disable log (#20)
- should be able to enable/disable emitting schema
- schema format (graphql or json)

[2020-01-09 17:34] cometkim opened #14 "Better place to emit type definitions"
Writing files to node_modules breaks the heuristics of other tools (eg typescript), and hardcoding node_modules is no longer valid when pnp is enabled.

[2020-01-09 17:35] cometkim opened #15 "Upgrade graphql-toolkit"
See https://github.com/ardatan/graphql-toolkit/releases/tag/v0.8.0
See https://github.com/cometkim/gatsby-plugin-typegen/issues/2#issuecomment-566504263

[2020-01-09 17:39] cometkim opened #16 "Automatically import type definition"

[2020-01-09 17:39] cometkim opened #17 "Support non-inline documents"

[2020-01-09 17:59] cometkim opened #18 "Cleanup the flow"

[2020-01-09 17:59] cometkim opened #19 "Perfomance"

[2020-01-09 18:07] ecklf commented on #10
@cometkim I see. I could actually pinpoint my issue in the meanwhile. I use:
[code]
in my `gatbsy-node.js` so I can write all my Gatsby Actions in TypeScript. The lack of type definitions there cause "cannot find module" errors (createPage to be exact) and will crash the build. I can just check if the generated file exists and block the export on first run as a dirty fix but is there a better solu

[2020-01-13 05:58] wagerfield opened #20 "Quiet logs"
Firstly many thanks for this plugin—it's amazing!

Could I kindly request that you either remove the logs OR provide a `quiet` flag to the plugin options to turn them off?

[2020-01-17 05:06] cometkim opened #21 "Support flowtype"

[2020-01-20 04:28] cometkim commented on #10
@cometkim I see your issue now. Unfortunately, there is no way to do that :( because gatsby builds the schema at runtime (more specifically the end of plugins and the gatsby-node lifecycle)

I recommends you to use babel with `babel-preset-gatsby-package` and `@babel/preset-typescript` instead of ts-node.

1. It's basically same as `transpileOnly: true`, so you can skip the build error and explici

[2020-01-22 17:10] #10 closed, assigned to cometkim

[2020-01-26 23:45] cometkim commented on #18
Found this from [gatsby-source-filesystem](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-filesystem/src/gatsby-node.js):

![image](https://user-images.githubusercontent.com/9696352/73143727-f8d85300-40e0-11ea-9f1e-dc4a7fb98814.png)

they use [xstate](https://github.com/davidkpiano/xstate) and queue-based scheduler seems pretty neat! also, that means it is already installed

[2020-01-26 23:48] cometkim commented on #18
I had considered about redux and redux-saga. (redux is already used by gatsby, and saga is easy-to-use and lightweight) but xstate is a great option to manage state more declaratively

[2020-02-10 14:11] #15 closed, assigned to cometkim

[2020-02-10 16:44] cometkim commented on #2
Resolved via #22

[2020-02-10 16:44] #2 closed, assigned to cometkim

[2020-02-11 17:12] cometkim commented on #4
This doesn't make sense since the graphql-codegen doesn't emit files via stream in the first place.

I have learned that io itself is not expensive and it is more important to schedule tasks correctly.

[2020-02-11 17:12] #4 closed, assigned to cometkim

[2020-02-11 19:52] cometkim opened #24 "Feature: Suport d.ts output (global declarations)"

[2020-02-12 05:40] cometkim opened #26 "Getting rid of chokidar watcher process"

[2020-02-12 07:56] ecklf commented on #10
@cometkim sorry I'm late to this. Thanks for the solution, I'll try and report back here if it resolves my issue once I have time to keep working on that side project 👍

[2020-02-16 18:45] cometkim opened #27 "Roadmap for next version"
- [ ] Type definitions for schema customization
- [ ] ~~dts output support~~ #24
- [ ] ~~Auto-import~~ #16
- [ ] Enhanced support for page queries? #74
- [ ] E2E test
- [ ] Multiple languages configuration

[2020-02-16 18:46] cometkim opened #28 "Example project for TypeScript"

[2020-02-16 18:46] cometkim opened #29 "Example project for Flow"

[2020-02-16 21:11] #13 closed, assigned to cometkim

[2020-02-16 21:11] #14 closed, assigned to cometkim

[2020-02-16 21:11] #18 closed, assigned to cometkim

[2020-02-16 21:11] #19 closed, assigned to cometkim

[2020-02-16 21:11] #20 closed, assigned to nobody

[2020-02-16 21:11] #21 closed, assigned to cometkim

[2020-02-16 21:11] #26 closed, assigned to cometkim

[2020-02-16 21:24] cometkim commented on #12
Resolved via #23. Close

[2020-02-16 21:24] #12 closed, assigned to cometkim

[2020-02-16 22:19] xndyz opened #33 "Generating duplicate types on fragments"
Thank you for all the work on the v1 release! I'm experiencing duplicate types being generated when using this along with a plugin that has introspecting GraphQL like Contentful:

[code]

^ This is just one example, it's happening for all fragments. Is there a current workaround for this or will there need to be a fix? @cometkim

[2020-02-16 22:22] cometkim commented on #33
Hey @fandy , thank you for reporting this!

Can you provide some example or starter project I can test on?

[2020-02-16 22:38] cometkim opened #34 "Unhandled rejection in handling query extraction."
[code]

[2020-02-16 22:44] #34 closed, assigned to cometkim

[2020-02-16 22:46] xndyz commented on #33
Yes if you clone https://github.com/gatsbyjs/gatsby/tree/master/examples/using-contentful and add the typegen plugin, it should error

[2020-02-16 22:49] cometkim commented on #33
I just tested on [gatsby-contentful-starter](https://www.gatsbyjs.org/starters/contentful-userland/gatsby-contentful-starter/) with ~~no errors~~ (just fixed up #35), let me try that example too.

[2020-02-16 23:14] cometkim commented on #33
~~Ref https://github.com/apollographql/graphql-tag/pull/278~~

my bad. It does not depend on apollo's graphql-tag at all

[2020-02-16 23:20] cometkim opened #36 "Use outside of src for default output path."
[code]

Gatsby trying to parse the generated file because it contained in src folder.

Is there any option to let gatsby ignores `__generated__` folder? Or switch to outside of src.

[2020-02-16 23:33] cometkim commented on #33
No duplicate identifiers appear in emitted plugin documents that are actually loaded.

This is likely a bug in graphql-codegen. Hey @dotansimha, Can you help me solve this problem?

config:

[code]

output:

[code]

[2020-02-16 23:47] cometkim commented on #33
@fandy removing `gatsby-plugin-typography` will fix this problem, I will take a closer look.

[2020-02-16 23:51] cometkim commented on #33
~~Related with #36~~

[2020-02-16 23:53] xndyz commented on #33
FYI I'm not using `gatsby-plugin-typography`. Here is my `gatsby-config` if it helps.

[code]

I wonder if generating outside `src` will fix it?

[2020-02-17 07:56] cometkim opened #37 "Add eslint-disable comment on the top"
linters should ignore the generated file.

Can use https://graphql-code-generator.com/docs/plugins/add, or just adding line manually is fine.

[2020-02-17 11:06] cometkim commented on #33
@fandy ~~Yes... It seems to be a bug associated with gatsby file-parser, but I'm not sure why. let me take a look more.~~

[2020-02-17 11:51] cometkim commented on #33
Sorry. a few more several tests, even if I created a file outside of src, the same issue occurs when a document changed.

[2020-02-18 01:07] cometkim commented on #33
~~There are some behaviors in the file parser that I cannot control. Calling the file parser externally was not a good idea. I will check again if it can be solved with graphql-toolkit.~~

[2020-02-18 19:46] cometkim commented on #33
Hey @fandy, can you test it again on v1.1.0? please try and let me know if the problem still happens

[2020-02-18 19:52] xndyz commented on #33
@cometkim duplicate types are still being generated in `gatsby-types.ts` :(

I've upgraded the plugin to the latest version.

[2020-02-18 19:53] cometkim commented on #33
on using-contentful example?

[2020-02-18 19:54] xndyz commented on #33
No, it's in my repo but let me see if I can reproduce in the using-contentful example...

[2020-02-18 19:56] xndyz commented on #33
@cometkim yup, it's happening in the using-contentful example too. It's only duplicated on the Contentful fragment types.

[2020-02-18 20:06] cometkim commented on #33
@fandy just fixed some weird yarn 2 resolution problem, and confirmed v1.1.1 is working using-contentful example with no duplicated fragments, can you try one more?

[2020-02-18 20:16] xndyz commented on #33
_Peeerfect_, 1.1.1 is confirmed to be working. I tested on 1.0.1 which didn't work before. Thank you for fixing this 🎉

[2020-02-18 20:17] cometkim opened #40 "Ignore unnamed queries"
If the user uses unnamed query, by default, graphql-codegen generate `Unnamed_[number]` as type name first time, but Gatsby's query compiler renames it to be based on location something like:

[code]

[2020-02-18 20:17] #33 closed, assigned to cometkim

[2020-02-18 20:26] xndyz commented on #24
Not having to manually import the types would be **amazing**. Would make this plugin a no brainer for every Gatsby dev.

[2020-02-18 20:32] cometkim commented on #36
BTW this was recorded in demo gif on README :/

[2020-02-18 20:38] cometkim commented on #27
Have to consider about #36

[2020-02-19 06:03] cometkim commented on #37
`// eslint-disable` dosen't affect acutally, it should be `/* eslint-disable */`

[2020-02-19 10:56] cometkim opened #43 "Insert type on first run"
Currently, insert type only work when actual document ASTs are changed.

If type definition is inserted on the first build, then it makes much easier to migrate code type-safe.

Here are some things to consider:
- #16 or #24 should be resolved first.
- any others?

[2020-02-19 11:44] #37 closed, assigned to cometkim

[2020-02-19 22:37] Js-Brecht opened #44 "Multiple definitions for query"
Do you mind taking a look at [this starter](https://github.com/Js-Brecht/gatsby-starter-pnpm-ts)?  I am getting the error show below in `vscode-apollo`, and I'm not sure if I should start here, or with `vscode-apollo`.  It almost seems like it could be happening because the query exists in the `image` component, as well as in `plugin-documents.graphql`.

![image](https://user-images.githubusercont

[2020-02-20 16:56] johnrom opened #45 "Inline Fragments aren't exported"
I was led to this plugin due to an issue I had [over at `gatsby-plugin-graphql-codegen`](https://github.com/d4rekanguok/gatsby-typescript/issues/54). The author recommended I try this plugin to see if it solved it, and it didn't, so I figured I'd open an issue here as well.

There's more context on the other issue, but generally the inline fragments that are generated on subtypes of an interface a

[2020-02-20 17:08] johnrom commented on #45
Looks like the missing config setting is below. I wonder if this can be configured outside of your plugin in a config file? I'm not sure if codegen.yml can be inherited by CLI configuration. Let me know if there's some way to override the configuration or if you're willing to export these types in the default configuration, in which case I can open a PR.

I confirmed making this change in `node_mo

[2020-02-22 04:55] cometkim commented on #45
@johnrom Unfortunately, you can't. (see the [disclaimer section]( https://github.com/cometkim/gatsby-plugin-typegen#disclaimer)) I will add that option right next release. I can imagine some use cases where the subtype export can be useful, but can you explain your use case in more detail?

And I wonder if the schema used in your example was created with Schema customization. If so, is there anyth

[2020-02-22 05:10] johnrom commented on #45
Anywhere you might receive an array of different objects from a query that map to different components, the types generated from the various fragments map 1-to-1 to the component props. Without these exports, one must duplicate those types unnecessarily. For example, the components that make up a dynamic CMS page, or results from a search returning different types of objects.

[2020-02-22 06:29] cometkim commented on #45
Rather than putting dependency fragments on components and joining them in a query, you prefer to write a query first and then create subcomponents based on that (generated) type. Is this your use case? (It's only to understand use cases correctly.)

[2020-02-22 16:19] johnrom commented on #45
Yes, in the example I gave in the initial descriptions, you can see the exact prop types for `<ImageWidget />` and `<ImageSliderWidget />` are created but not exposed. This is for spread subtype fragments. I could maybe go with a union type as a workaround if those fragments are exported (haven't tried), but it doesn't make that much sense since these types inherit from a common interface.

[2020-02-23 15:25] #45 closed, assigned to nobody

[2020-02-27 23:15] cometkim commented on #40
Oops, they are also included in `SitePageFieldsEnum` like:

[code]

[2020-02-27 23:32] cometkim commented on #44
Hi @Js-Brecht, I can't reproduce this on your starter...

![image](https://user-images.githubusercontent.com/9696352/75496502-ac947180-5a04-11ea-96a3-92aa5e41aee9.png)

Any more particular settings you made ahead of the starter?

[2020-02-27 23:58] Js-Brecht commented on #44
No special configuration.  Just what you see in the repository.  I'm on a different computer right now, so I had to download it and run it fresh.  I had to do a build for it to generate the schema with the duplicate query definition, then reloaded the window to restart `vscode-apollo`.  As soon as vscode finished reloading, I get this:
![image](https://user-images.githubusercontent.com/1935258/754

[2020-02-27 23:59] cometkim commented on #24
It seems to not able to be done with only codegen configurations. (Or I couldn't figure out how)

The simplest way I found is:

1. Use the `noExport: true` option.
2. Find all type|interface definitions and prepand the `declare` keyword.
3. Make file extension to '.d.ts' instead of '.ts'

[2020-02-28 00:00] cometkim commented on #24
Obviously, Flow can also use a global declaration, so this new option should be treated as a mixed config, not a new language.

The codegen's Flow plugins don't support `noExport` option yet. I can preferentially release the TypeScript support during waiting for it or contributing directly.

[2020-02-28 00:02] Js-Brecht commented on #44
If I comment out `<Image />` in `pages/index.tsx` and also comment out the static query in `components/image.tsx`, I will then get errors for the `Seo` query in `components/seo.tsx`.  But again, I have to do a build to generate the schema, and reload vscode (or could probably just do `Apollo: Reload Schema`) before it generates the error.

[2020-02-28 00:23] cometkim commented on #44
So this problem because of the documents are emitted even they are contained in src

That... should be filtered out from here:

https://github.com/cometkim/gatsby-plugin-typegen/blob/3457db9dfef41ca0eba5c728adef3a61e7979f7a/src/gatsby-node.ts#L117

Can you try again on the latest version? (v1.1.1)

[2020-02-28 00:23] cometkim commented on #44
I just realized that I have to deal with outside of `src` to support `gatsby-node`. Thank you so much @Js-Brecht !

[2020-02-28 00:44] Js-Brecht commented on #44
Same problem.

I think I have found one issue:
[code]
will return
[code]

So, `path.resolve()` is returning non-posix compliant paths on Windows, while the `trackedSource` entries **are** (semi) posix compliant.

If I change that section to normalize `componentPath`:
[code]
I get the desired results

[2020-02-28 00:44] Js-Brecht commented on #44
I don't recall if I had this issue on Linux, as well.  I'll have to check later

[2020-02-28 02:12] Js-Brecht commented on #44
Out of curiosity, how do you plan to handle that?  I ask because `gatsby-plugin-ts-config` could potentially conflict with that process, because of https://github.com/Js-Brecht/gatsby-plugin-ts-config/issues/2.  If the path to `gatsby-node` is hard coded to the root of the project, then whoever uses `gatsby-plugin-ts-config` may not be able to use `gatsby-plugin-typegen` to generate types from que

[2020-02-29 01:47] cometkim commented on #24
If the declaration scope is global, some declaration like `File` is conflicted.

In order to use a declaration, it must specify namespace scope or using the global namespace with a prefix to avoid conflicts.

flow has no namespace syntax, so it must use prefixes.

[2020-03-02 16:43] cometkim commented on #44
@Js-Brecht It is... hard to make it compatible with your project for now. (or please let me know if you have an idea)

The gatsby-* files in the project root, and the files in the src path and [gatsby dependency](https://github.com/gatsbyjs/gatsby/blob/6375ba9903/packages/gatsby/src/utils/gatsby-dependents.js#L67-L68), are what gatsby assumes for end-user projects and plugins/themes so it's easies

[2020-03-02 17:02] Js-Brecht commented on #44
Would it be feasible to include an option allowing the user to define various additional files to pull types from?  Perhaps that would be too labor intensive (and probably far too much maintenance), since I think it would require implementing Gatsby's query extraction apart from Gatsby itself.  Correct me if I'm wrong.

The issues with node ownership will actually be resolved when Gatsby is able t

[2020-03-02 17:44] Js-Brecht commented on #44
I wonder if that could be as simple as using [Gatsby's FileParser](https://github.com/gatsbyjs/gatsby/blob/e1fd083e47e7503dc6a4aebb9c283666911774e8/packages/gatsby/src/query/query-compiler.js#L159-L161), like they do in the [parseQueries function](https://github.com/gatsbyjs/gatsby/blob/e1fd083e47e7503dc6a4aebb9c283666911774e8/packages/gatsby/src/query/query-compiler.js#L159-L161), to gather queri

[2020-03-02 22:29] Js-Brecht commented on #44
I just took a moment to read your code, instead of just skimming it, and I see you are already using the FileParser.  So, I was just getting ahead of myself there ☝️

[2020-03-03 03:08] cometkim commented on #44
It can be easily done using [graphql-tag-pluck](https://github.com/ardatan/graphql-toolkit/blob/master/packages/graphql-tag-pluck/README.md). (Even I have a simple [RegExp](https://github.com/cometkim/gatsby-plugin-typegen/blob/4456ae64bc/src/workers/insert-types.ts#L8-L52) which can do almost the same thing as the Gatsby's file parser)

Anyway, as you saw, I switched to using Gatsby's action and

[2020-03-03 03:19] Js-Brecht commented on #44
I will copy the conversation to a new issue

[2020-03-03 03:20] Js-Brecht opened #48 "Query typegen for non-root gatsby-* files"
New issue to track conversation started in #44, regarding query type generation when `gatsby-*` configuration files are located in a directory **other than** the project root.

Following is the conversation thread up to now.

[2020-03-03 03:20] Js-Brecht commented on #48
Out of curiosity, how do you plan to handle that?  I ask because `gatsby-plugin-ts-config` could potentially conflict with that process, because of https://github.com/Js-Brecht/gatsby-plugin-ts-config/issues/2.  If the path to `gatsby-node` is hard coded to the root of the project, then whoever uses `gatsby-plugin-ts-config` may not be able to use `gatsby-plugin-typegen` to generate types from que

[2020-03-03 03:20] Js-Brecht commented on #48
@Js-Brecht It is... hard to make it compatible with your project for now. (or please let me know if you have an idea)

The gatsby-* files in the project root, and the files in the src path and [gatsby dependency](https://github.com/gatsbyjs/gatsby/blob/6375ba9903/packages/gatsby/src/utils/gatsby-dependents.js#L67-L68), are what gatsby assumes for end-user projects and plugins/themes so it's easies

[2020-03-03 03:20] Js-Brecht commented on #48
Would it be feasible to include an option allowing the user to define various additional files to pull types from?  Perhaps that would be too labor intensive (and probably far too much maintenance), since I think it would require implementing Gatsby's query extraction apart from Gatsby itself.  Correct me if I'm wrong.

The issues with node ownership will actually be resolved when Gatsby is able t

[2020-03-03 03:20] Js-Brecht commented on #48
I wonder if that could be as simple as using [Gatsby's FileParser](https://github.com/gatsbyjs/gatsby/blob/e1fd083e47e7503dc6a4aebb9c283666911774e8/packages/gatsby/src/query/query-compiler.js#L159-L161), like they do in the [parseQueries function](https://github.com/gatsbyjs/gatsby/blob/e1fd083e47e7503dc6a4aebb9c283666911774e8/packages/gatsby/src/query/query-compiler.js#L159-L161), to gather queri

[2020-03-03 03:20] Js-Brecht commented on #48
I just took a moment to read your code, instead of just skimming it, and I see you are already using the FileParser.  So, I was just getting ahead of myself there ☝️

_Originally posted by @Js-Brecht in https://github.com/cometkim/gatsby-plugin-typegen/issues/44#issuecomment-593657249_

[2020-03-03 03:20] Js-Brecht commented on #48
It can be easily done using [graphql-tag-pluck](https://github.com/ardatan/graphql-toolkit/blob/master/packages/graphql-tag-pluck/README.md). (Even I have a simple [RegExp](https://github.com/cometkim/gatsby-plugin-typegen/blob/4456ae64bc/src/workers/insert-types.ts#L8-L52) which can do almost the same thing as the Gatsby's file parser)

Anyway, as you saw, I switched to using Gatsby's action and

[2020-03-03 03:51] Js-Brecht commented on #48
No, no,  I wouldn't ask you to revert changes/improvements you've made.  I was just referring to Gatsby's query watcher.  These queries wouldn't be watched by Gatsby, but since they're located in configuration files that only really get processed during the build, then the behavior won't be any different than what people are already used to.  Perhaps eventually there will be support for watching c

[2020-03-03 19:29] cometkim opened #49 "Feature: Emit utility types for Gatsby"
- [ ] PageProps: #74
- [ ] ~~PluginOptionsSchema: #121~~
- [ ] gatsby-node: #110

[2020-03-03 19:31] #17 closed, assigned to nobody

[2020-03-03 20:42] cometkim commented on #40
This is a difficult problem.

Mangled names are unnecessary for type definitions, but should not be tricked because they are actually the source of truth.

:thinking:

[2020-03-07 14:22] ecklf opened #50 "Exported schemas in .ts files are not generated"
Hi, trying to migrate from 0.2.0 to 1.1.2 but it doesn't seem my type for an exported query schema gets exported anymore (file is in src/lib/ folder). Under 0.2.0 the following query:

[code]

would result in the following schema generation

[code]

What I am doing wrong here, are there breaking changes?

[2020-03-08 11:07] #16 closed, assigned to nobody

[2020-03-08 11:07] #24 closed, assigned to cometkim

[2020-03-08 11:32] cometkim commented on #50
Hi @impulse.

Yes, this plugin was changed in v1.0, to generate code for queries that actually using by Gatsby instead of directory globs.

So, if you didn't call `createPage` action with the path in gatsby-node, the plugin don't actually know about the query because Gatsby doesn't use it.

[2020-03-08 11:43] #43 closed, assigned to cometkim

[2020-03-08 13:29] cometkim commented on #24
Hey @fandy, I just published v2.0.0 that uses global declaration by default. Please try to migrate, and feedback will be appreciated.

[2020-03-08 18:11] xndyz commented on #24
Generation like a charm! Would be great if it could automatically sync the types to page queries, but I understand that'd be harder to implement.

[2020-03-09 14:53] ecklf commented on #50
@cometkim thanks for the quick response.

Will the solution you described [here](https://github.com/cometkim/gatsby-plugin-typegen/issues/10#issuecomment-576101305) solve this? I think the culprit is that I still use tsnode and didn't make the switch to it yet.

[2020-03-09 15:53] cometkim commented on #50
@impulse Unfortunately, It wouldn't. The important point is that your queries are under the `src/lib/folder` path. Queries not used by the Gatsby compiler are also not used by this plugin. So you need to change your page queries to be actually exported from the page component.

BTW, maybe you should check out the https://github.com/Js-Brecht/gatsby-plugin-ts-config by @Js-Brecht. There is also [a

[2020-03-09 15:56] cometkim commented on #48
In theory, this plugin will start track of new queries when they are notified by the FileParser.

I'll be doing some PoC soon.

[2020-03-09 16:33] Js-Brecht commented on #50
Just an FYI, the [ts-config](https://github.com/Js-Brecht/gatsby-starter-pnpm-ts/tree/ts-config) branch of that starter uses the `ts-config` plugin, so it's a decent example of using the plugin itself.  The master branch just uses `ts-node` directly in the `gatsby-config`, so it's basically a user driven example.  The `ts-config` plugin does work to make sure it is only responsible for the `gatsby

[2020-03-09 18:41] Js-Brecht commented on #48
Should, but I was hoping to not have to use `FileParser` in `ts-config` plugin, because that exceeds its scope.  What would be great is if we could tell Gatsby where to pick up additional files and look for queries in them 🤔.

[2020-03-09 18:48] Js-Brecht opened #54 "Is FileParser safe?"
In my investigations while looking for a good way to let `gatsby-plugin-typgen` know about extra queries for parsing, I ran into an issue.

I think it may not be safe to use `FileParser`.  I was doing some testing to see what I could come up with without having to hook into Gatsby's internals, and I was using your [processor](https://github.com/cometkim/gatsby-plugin-typegen/blob/master/src/gatsby

[2020-03-10 00:57] xndyz commented on #24
Additional feedback: would be super useful to be able to import the field types, meaning not just the query, but the types for the fields in those queries.

[2020-03-12 15:05] cometkim commented on #54
Yep, I had considered that.

It used FileParser to track Gatsby's early babel extraction because it doesn't tell me what the query is about. (After that, I don't use it at all)

And I thought optimistic that it would be consistent with Gatsby's inner workings and probably stable while Gatsby is v1.

I will gonna replace it with my own parser (that is regexp I already have in insert-type worker) in

[2020-03-12 15:13] cometkim commented on #50
https://github.com/gatsbyjs/gatsby/blob/dd344ac4ea/packages/gatsby/src/query/file-parser.js#L142

@Js-Brecht It's actually collecting some specific nodes. There seems to be a separate place to track the gatsby-node file, but I haven't figured it out yet.

[2020-03-12 16:55] Js-Brecht commented on #50
@cometkim I honestly don't think it extracts queries from `gatsby-node`.  I believe those queries using the Gatsby `graphql()` function in `gatsby-node` are executed imperatively, when the particular endpoint export is called.

The point I was trying to make here is that if the queries @impulse is trying to generate types for are under the `src` directory, and they use `graphql` tag like he shows

[2020-03-12 18:57] Js-Brecht commented on #54
I think I see where you're coming from.  Since the state returned by Gatsby only includes components/queries that it will be using to fetch data from the GraphQL store, it doesn't include queries or fragments from plugins (or other places)... which would end up breaking some of the extra functionality you provide (like `emitPluginDocuments`, that type of thing).  Basically, there's just not enough

[2020-03-12 18:57] #54 closed, assigned to nobody

[2020-03-12 19:08] Js-Brecht opened #60 "[Feature] type insertion controls"
I can see how the "type insertion" feature can be pretty handy... however, I just wanted to ask if you would be willing to allow some control over it.

AFAICT, it will always do type insertion, so long as the file is a typescript (or flow) file.  90% of the time, I prefer adding my own types, and don't want plugins changing my code, except with my explicit permission.

Could there maybe be an opti

[2020-03-12 19:09] Js-Brecht commented on #60
So, I just looked, and you already do.  I was just slow in looking.... sorry!

[2020-03-12 19:09] #60 closed, assigned to nobody

[2020-03-12 20:18] Ciantic opened #61 "Feature request: Generate types for useQuery (apollo)"
I know this is a stretch, if you are not using Apollo you probably don't want to do this.

I intend to do dynamic queries on runtime in addition of `useStaticQuery`, and Apollo seems like the only option at the moment, it has a similarily named hook `useQuery`.

However with Apollo the official suggestion is to write *the types by hand* like it's 2010:
https://www.apollographql.com/docs/react/deve

[2020-03-12 21:40] cometkim commented on #61
Hi, @Ciantic, thank you for suggesting.

I'm actually using codegen for both Apollo Client and Gatsby in the same product and there have been several approaches that use only codegen CLI.

In fact, the CLI has potential bugs when running with monorepo projects and many different configs variants as a single process. The solution is to split the configuration file and process and run them concurren

[2020-03-12 21:47] cometkim commented on #61
Configuration example:

[code]

[2020-03-12 21:55] Ciantic commented on #61
I see, you have already thought about this. It just seemed simple addition, but that config is more than I asked, thanks! I'll try to figure this out. I'm closing this.

[2020-03-12 21:55] #61 closed, assigned to nobody

[2020-04-12 16:46] #44 closed, assigned to cometkim

[2020-04-12 17:33] cometkim opened #67 "Setup all-contrib"

[2020-04-12 17:37] cometkim commented on #67
@all-contributors

[2020-04-12 18:01] #67 closed, assigned to cometkim

[2020-04-15 18:48] cometkim commented on #36
Closing since it is not reproduced anymore. Let me know if anyone has this problem.

[2020-04-15 18:48] #36 closed, assigned to cometkim

[2020-04-15 19:18] cometkim commented on #60
Haha, no worries.

yes, you can control that behavior by the `autoFix` option.

[2020-04-15 21:27] cometkim opened #74 "Enhanced support for page queries/components"
- Codegen for page context (that provided in createPage)
- Design DX for auto-fixing page queries.
- more use cases in page component

[2020-04-15 21:42] cometkim opened #76 "Configure yarn workspace"
See #65

Need to migrate source code into workspace package, and setup #28 and #29 as other workspace packages.

[2020-04-15 22:56] cometkim commented on #50
@impulse Could you please confirm if the same problem occurs in the last version(2.1.0)?

[2020-04-16 08:20] ecklf commented on #50
@cometkim still the same issue and I think the namespace change seems to have broken the ts-node approach completely (getting a cannot find namespace GatsbyTypes error). @Js-Brecht is your plugin affected by this?

[2020-04-16 08:31] cometkim commented on #50
@impulse Can you share your typegen plugin config and the tsconfig?

[2020-04-16 08:43] ecklf commented on #50
@cometkim just added typegen to the plugins array tsconfig is the following:

[code]

[2020-04-16 15:42] Js-Brecht commented on #50
@impulse i use `gatsby-plugin-ts-config` and `gatsby-plugin-typegen` v2 together without any issues.

When switching to v2, I did have to make sure that the types generated by `gatsby-plugin-typegen` were covered in the `include` property in `tsconfig`.  IIRC, that was all it took.

[2020-04-17 04:09] d4rekanguok commented on #76
Been struggled with this as well, workspace is definitely the way to go

[2020-04-30 12:02] JosXa opened #78 "Access generated enum values"
The plugin generates the following code:

[code]

for this schema (introspection.json):

[code]

and I am having troubles accessing the enum values, most likely due to global declaration namespaces being compiled away during the build process (as a result of https://github.com/cometkim/gatsby-plugin-typegen/pull/47):

[code]

... results in: `Uncaught ReferenceError: GatsbyTypes is not defined` (o

[2020-04-30 20:20] cometkim commented on #78
Hi @JosXa, thanks for reporting!

Ideally in GatsbyJS, the actual behavior is always just a string and only the type information is actually needed. So, I think `=== 'InsiderBuild'` is enough for it, or do I miss something here.

Can you share the example of schema customization that generates this enum type? I will test it and change the generated result to be const enum.

[2020-05-02 15:08] cometkim commented on #78
Providing code to be used at runtime is not the goal of this project. So, this will be prevented in the next version.

But please feel free to reopen this if you have case actually need this. :)

[2020-05-02 15:08] #78 closed, assigned to nobody

[2020-05-02 15:18] cometkim commented on #27
Contributing to the core is the correct way than providing 3rd type definitions since [GatsbyJS started to use TypeScript](https://github.com/gatsbyjs/gatsby/issues/21995). And I have to reconsider internal type definitions and utility types to depend on the core.

[2020-05-02 15:28] cometkim commented on #27
According to the guideline:

Gatsby avoids type inference, and it's quite reasonable for that size of codebase.

However, we can still provide utilities for plugin/theme authors who want improved type inference. Perhaps it will be in a separate project.

[2020-05-02 21:40] cometkim commented on #50
Hey @impulse,

That's not only exporting `query Posts {...}`, but also importing it and use in your GatsbyJS project right?

Can you share code so I can reproduce the problem? Or share the read permission for a while If it's private?

[2020-05-04 20:15] ecklf commented on #50
I'll create a repo that reproduces the issue tomorrow 👍

[2020-05-05 19:43] ecklf commented on #50
As promised: [reproduction repo](https://github.com/impulse/typegen-error) (see `lib/createPages`).

I also tried specifying the project in `ts-node` because I already have the entire `src` folder (where `__generated__` is) included in my `tsconfig`.

[code]

Unfortunately I still get `Cannot find namespace 'GatsbyTypes'`.

[2020-05-05 21:33] cometkim commented on #50
@impulse

Oh, I see.

Actually, this plugin has not yet officially supported gatsby-node.  :sweat_smile:

Before the v1 release, codegen generated regardless of Gatsby since it had used glob pattern for it. But now it effectively performs codegen only for queries that gatsby actually tracks (not including gtsby-node).

So far, I have focused on improving DX for creating components, and
now I have

[2020-05-05 21:36] cometkim commented on #50
~~I will try to figure it out in a few days.~~

Well, I just tried to repro this

[code]

This is all I've got after clone the repo, install dependencies and run `tsc --noEmit --skipLibCheck` and there is no error you mentioned.

Make sure your IDE settings are referencing the tsconfig.json and tsc version of the workspace correctly.

[2020-05-06 05:36] ecklf commented on #50
Fair enough, I'll just generate this manually then.

I get the same error as you when running `tsc`. The error I've mentioned happens when running `gatsby develop` (sorry should have specified)

[2020-05-10 03:05] chrbala opened #81 "Global types with enum values"
Because of the [update to export only global types](https://github.com/cometkim/gatsby-plugin-typegen/commit/00ec5250fbb5bb924717a6e25173c7b36f981279), enum values break. That is, because enum values pass through the types to the underlying Gatbsy compilation process, the Gatsby compilation process doesn't know how to handle the global types. Example below.

GraphQL definition
[code]

This gets tr

[2020-05-10 23:19] cometkim commented on #81
Duplicates #78

These enum values will be changed into an internal type union after #79 is merged.

[2020-05-23 16:17] nibtime opened #82 "content model changes are not picked up for type generation"
First of all, thanks for providing this awesome plugin!

Schema and type generation works perfectly and is very fast. The only thing that doesn't seem to work is picking up content model changes (i.e. Markdown). If I add, alter or remove a Markdown frontmatter field while running `gatsby develop`, the change is reflected in the remote schema at `localhost:8000/___graphql`, but generated schemas by

[2020-05-23 17:18] cometkim commented on #82
Hello @nibtime, thank you for reporting this!

Schema registration is currently happening only once the startup. I just couldn't consider the schema change scenario (forgot that the remark source changes it dynamically in runtime :sweat_smile:)

I'll fix it in the right next version! #79

[2020-05-23 19:52] #82 closed, assigned to nobody

[2020-05-23 19:56] cometkim commented on #82
Hey @nibtime, I just fixed this and published v2.2.0

Hope you enjoy :)

[2020-05-23 20:22] cometkim opened #84 "Confirm to work properly with ts-graphql-plugin"
Theoretically, this plugin supports everything the [ts-plugin-graphql](https://github.com/Quramy/ts-graphql-plugin) requires (by schema emitting options)

Make sure ts-plugin-graphql works as expected and add usage and screenshots to the README.

[2020-05-23 20:24] nibtime commented on #82
@cometkim

wow, that was fast! 😄. Thank you very much!

[2020-05-23 20:38] cometkim opened #85 "[Case study] Type-checking in CI"

[2020-06-02 16:02] cometkim opened #87 "Add ReScript support"

[2020-06-23 06:26] cometkim opened #90 "Add a guide to integrate with graphql-config"
https://github.com/kamilkisiela/graphql-config

[2020-06-27 22:00] sanjaypojo commented on #74
Hi @cometkim, thanks for a great library 😄

I was curious if there's any way to type the data prop from a page query automatically at the moment? And whether there's some workaround for this until the actual you ship this feature?

EDIT: I realized I can just type the components as `React.FC<{data: GatsbyTypes.PageQuery}>`. Might be cool to include this in the docs. Happy to write it up if you thi

[2020-06-28 14:14] cometkim commented on #74
Hi @sanjaypojo, thanks for your interest in this issue :)

The data fields can easily be typed with the query type already generated, as you mentioned.

Actually, pageContext also has a generated type, but the problem is that all page contexts are merged into one single type; `SitePageContext`.

So it needs some static analysis of the `createPage` call to extract the subtypes it needs.

[2020-06-28 14:18] cometkim commented on #74
And, I found it inconvenient to include a lot of nullability in the generated type because the Gatsby schema is inferred fields as Nullable if not explicitly declared as non-null.

For now, the best way to solve this is to write a type guard user self, but it is too cumbersome.

And it is not an option to manipulate the schema arbitrarily or to cheat the type.

To do this, I first aim to create a

[2020-07-07 16:59] cometkim commented on #74
Oh, I just realized gatsby already provides some utility types for page props

https://github.com/gatsbyjs/gatsby/blob/a72caa67f8/packages/gatsby/index.d.ts#L33-L120

[2020-07-10 11:13] tony opened #93 "gatsby 2.23.22: TypeError: unsubscribeQueryExtraction is not a function"
Hi @cometkim!  Thank you for the project!

I believe this issue came up here: https://github.com/gatsbyjs/gatsby/issues/25378 / https://github.com/gatsbyjs/gatsby/commit/e5ce35b

![image](https://user-images.githubusercontent.com/26336/87148613-54a02e00-c274-11ea-9b41-360c8099a934.png)

[code]

[yarn.lock diff](https://github.com/cometkim/gatsby-plugin-typegen/files/4902713/yarn-lock.diff.txt)
<de

[2020-07-10 16:23] cometkim commented on #93
Thank you for reporting this @tony

Plugins depend on the lifecycle API, but Gatsby suddenly changed its behavior **in the patch version**. This breaks semantic versioning and I'm not sure what is the correct way to fix it.... :shrug:

[2020-07-10 16:28] cometkim commented on #93
I think using `onPreBootstrap` instead of `onPreExtractQueries` should fix it.

[2020-07-10 17:02] #93 closed, assigned to cometkim

[2020-07-10 17:31] cometkim commented on #93
Fixed in v2.2.1

[2020-07-10 22:54] tony commented on #93
@cometkim Thank you! This fixed it for me!

[2020-07-11 21:21] jazeved0 commented on #85
Hey, just wanted to leave some feedback on CI using `gatsby-plugin-typegen` from the perspective of the project I'm working on. In our repo, we exclude the generated types from version control, and instead let them get generated upon the first run. Part of the reasoning for this is that we use `gatsby-source-graphql` with the GitHub API, which causes the generated schema to (expectedly) include th

[2020-07-12 08:09] cometkim commented on #85
Thank you @jazevedo620 for leaving feedback here.

It sounds pretty bad for me that gatsby develop and gatsby build produce different schema/types. Can you share your site configuration?

Maybe I can add a flag to exit process after all tasks are done once.
Or I guess to add fork-ts-checker webpack plugin could integrate type-checking to gatsby build seamlessly.

[2020-08-06 14:40] lorisdev opened #97 "Types are Ok on build but missing on develop"
I have this very strange bug where the types are correctly generated when running `gatsby build` but other types are generated when typing `gatsby develop` and those type are missing all the custom type of my GraphQl queries ...

My workaround right know it to build first, then develop, wait for it to stop on the graphQl types errors and then `git checkout .` to reset the newly generated types and

[2020-08-07 21:25] cometkim commented on #97
Hey @lorisdev, thank you for the reporting. Do you see anything when you run develop with `--verbose` flag??

[2020-08-07 21:44] lorisdev commented on #97
Hey @cometkim thanks for taking the time to reply !
So I dug this issue and I realise that it may come from Gatsby itself.
Starting from version 2.24.12 of Gatsby, the .cache/json folder stays empty after running `develop`, I opened an issue to track this bug https://github.com/gatsbyjs/gatsby/issues/26287

I guess this is why gatsby-plugin-typegen cannot generate the types ??

[2020-08-07 22:22] cometkim commented on #97
Not sure, but ~~I guess so as typegen plugin depends deeply on Gatsby internal.~~ actually I don't thing so...

Unless the plugin reports the problem itself, there are a few possibilities.
- Gatsby did not load the plugin
- Codegen is running normally, but no queries were tracked, because of the Gatsby issue.

Check your log in verbose mode includes something like:
[code]

I'm unable to accurately

[2020-08-07 22:24] cometkim commented on #97
@lorisdev So downgrading gatsby version to 2.24.8~2.24.9 can resolves your issue?

[2020-08-07 22:31] lorisdev commented on #97
Downgrading to 2.24.8 fixes my issue with .cache/json and mostly fixes the generated types issue but randomly I still have the issue with the generated types but doing `gatsby clean && gatsby develop` fixes it.
I couldn't reproduce it accurately yet.

I won't have time to build a reproduction repo this weekend and I'm in holiday next week, but I try to get one asap.

[2020-08-07 22:48] cometkim commented on #97
I have a plan to rewrite the plugin scheduler as a state machine. it would help to find the actual cause by adding more accurate pre-validation and logging in the next version.

I will inform you when pre-release is ready.

[2020-08-12 18:42] adonig commented on #97
I tried downgrading to 2.24.8, but sadly it still doesn't generate `gatsby-plugin-documents.graphql`. I have `gatsby-schema.graphql`, `gatsby-introspection.json` and `gatsby-types.ts` though. I think the missing file is why I get `Unknown fragment "GatsbyImageSharpFluid_withWebp". GraphQL: Validation` in Visual Studio Code.

[2020-08-13 04:48] cometkim commented on #97
That sounds yet another issue from upstream :/

@adonig Can you file a new issue for your case?

[2020-08-13 06:59] adonig opened #98 "Plugin documents not generated during `gatsby develop` but exist after `gatby build`"
`gatsby-plugin-documents.graphql` is missing during `gatsby develop`. It gets generated when I run `gatsby build` though. Downgrading gatsby to 2.24.8 does not fix this issue. I cloned the current master of `gatby-plugin-typegen` and added some `reporter.verbose` to `gatby-node.js` to see what's going on. That way I found out the `trackedSource` is empty during develop, causing the control flow to

[2020-08-13 06:59] adonig commented on #97
Yep, it's [here](https://github.com/cometkim/gatsby-plugin-typegen/issues/98).

[2020-08-16 22:07] carstenblt opened #99 "gatsby-source-graphql & Apollo client"
I am using gatsby-source-graphql to make remote data available under a given `fieldName`/namespace. I am accessing the same backend source with the Apollo client directly but without the fieldName that is defined for gatsby-source-graphql.

From my understanding this is breaking the plugin for me right now. I get `Cannot query field ... on type "Query"` for all Apollo calls. Is there either a way

[2020-08-18 13:28] cometkim commented on #99
To clarify,

you have one GraphQL backend, and you use it as both static and runtime queries at the same time. And you understand:
- you can't mix those two types of queries.
- gatsby-plugin-typegen only solves gatsby's problem, not Apollo.

In this case, as you say, the plugin shouldn't parse any queries provided by Apollo, so it's an obvious bug. Can you provide settings and snippets?

[2020-08-18 13:39] carstenblt commented on #99
Right, even though at first I thought gatsby-plugin-typegen might be hackable to do both.

So my typical code looks like this:

[code]

with my gatsby-config.js plugins set up

[code]

[2020-08-18 13:49] cometkim commented on #99
I saw you just filed another issue https://github.com/dotansimha/graphql-code-generator/issues/4586

if this problem is caused in graphql-codegen config without this plugin. then I can track this as an upstream issue and contribute to there. will let you know after looking at the details and finding any workaround.

[2020-08-18 17:27] cometkim opened #100 "Make RegExp human-readable using SuperExpressive"
https://github.com/francisrstokes/super-expressive

:sweat_smile:

[2020-08-19 07:54] preetjdp opened #101 "Gatsby Build Unknown fragment Error"
### The Problem
`gatsby-plugin-typegen` works as expected when running `gatsby develop` but when I go to build it throws an error.
The project where this error occurs can be found here

https://github.com/preetjdp/Blog

### Error
[code]

### Version Details
[code]

Let me know if anything else is required for debugging.

### Long Logs
[code]

[2020-08-19 17:38] cometkim commented on #101
Hey, @preetjdp Thank you for reporting the problem.

When I tried to clone your project and `yarn install`

The first time I can repro the same problem, but after clean install deps and try again, The problem goes has been disappeared and builds fine.

(for testing, I've only modified a few graphql queries)

[code]

[2020-08-19 17:41] cometkim commented on #101
You can use the emitting option to make sure the plugin documents are loading properly.

[code]

Try build with this option and `--verbose` flag. And check that fragment is in the `src/__generated__/gatsby-plugin-documents.graphql`

[2020-08-19 17:51] cometkim commented on #101
FYI it seems to work with NPM clean install. but not to work with Yarn. I think there are some resolution issues in your project.

Success log using NPM:
[code]

I think you should use yarn or npm, not both.

[2020-08-19 17:53] cometkim commented on #101
I'm closing this.

But you can reopen this anytime if the problem appears after resolving the resolution issue :)

[2020-08-19 17:53] #101 closed, assigned to cometkim

[2020-08-20 05:31] preetjdp commented on #101
@cometkim Thanks for the help., really appreciate it.

I'm gonna try it now.

[2020-08-26 01:50] cometkim commented on #98
I accidentally got a repro https://github.com/devsisters/gatsby-starter-typescript-workspace 😅

will fix soon!

[2020-08-31 11:03] cometkim opened #103 "Ignore dev-only field (host, port)"

[2020-08-31 11:04] cometkim opened #104 "Stabilize output"
The plugin artifacts should support stable output to be able to commit without redundant diffs.

Need to either modify the algorithm or prettify the output so order and format will not be changed for the same document.

[2020-08-31 15:29] #76 closed, assigned to cometkim

[2020-09-10 13:34] cometkim opened #108 "Remove `SitePlugin*` types from output"
Even on the simplest site, 23 related types are declared.

These types are ambiguously defined for all plugins and most of the schema for package.json or pluginOptions is not needed.

When necessary, each plugin exposes its own information through schema customization.

[2020-09-16 05:41] Samic8 opened #109 "Intermittent errors with Gatsby Cloud builds"
I'm getting this error occasionally with Gatsby Cloud builds. Triggering a new build usually results in another build that is successful without errors.

[code]

[2020-09-17 08:05] pascaloliv commented on #109
I'm facing the same issue on `GatsbyImageSharp` fragments  in my CI at the moment.
It randomly break my build (I'm using [Buddy](http://buddy.works))

FYI - I'm using `gatsby-plugin-typegen@2.2.1`

[2020-09-19 15:20] jsbrain opened #110 "Types for gatsby-node.ts"
Hi, I'm trying to get types generated for my root query in gatsby-node.ts.

Somehow this seems to not work. I used a query name (e.g. `query GatsbyNode ...`) as with all my other queries. All other type generation works fine, just not the gatsby-node.ts ones.

What am I doing wrong here

[2020-09-22 07:14] hvermeire commented on #97
FWIW: I also had this issue and I worked around it by only running the plugin when doing `gatsby build`

[code]

[2020-10-13 19:30] cometkim opened #111 "File System Route API"
https://www.gatsbyjs.com/docs/file-system-page-creation/

[2020-10-13 19:42] cometkim opened #112 "Do not transpile code"
Uploading sources will be fine for Gatsby projects

[2020-10-14 11:38] daniel-trevino commented on #109
I've experienced the same error as you. In my case, I could only see this error after having a `gatsby clean` and trying to do `gatsby build` (without running `gatsby dev` beforehand)

Try to change the order on how you load the plugin in `gatsby-config`. In my case, moving it at the end of the array solved the issue.

Good luck 👍

[2020-10-17 20:42] nibtime opened #113 "emitPluginDocuments broken after Gatsby upgrade"
Hi @cometkim,

still enjoying your plugin, DX is superb and I didn't have a single problem with it until now 💯. I recently upgraded Gatsby (you can find my environment info below) and after that, `emitPluginDocuments` stopped working. I suspect they changed some internals of the development server.

### Expected Result

`emitPluginDocuments: { "__generated__/gatsby-plugin-documents.graphql": true

[2020-10-18 21:26] cometkim commented on #113
@nibtime Thank you for the detailed report. I will fix it as soon as possible.

Until the fixed version is released, you can use documents generated in the previous version and turn the option off temporarily.

[2020-10-20 20:03] vimtor opened #115 "Generate exports file instead of namespace"
I will be nice to add an option generate a export files instead of a namespace called `GatsbyTypes`

That way one can simply import the necessary types directly.

[2020-10-22 16:25] hasparus commented on #50
Hey folks, I just wanted to mention that I resolved my **_" Cannot find namespace 'GatsbyTypes'."_** problem by adding

[code]

to my `gatsby-config.ts`.

I hope it helps somebody who lands here googling this error like I did today 😊

[2020-10-22 16:31] hasparus commented on #97
I think I have a similar problem.

My useStaticQuery type parameter gets written `GatsbyTypes.GetBlogPostDataQuery`, but `GetBlogPostDataQuery` is missing from emitted types. It works fine for production build, though.

[2020-10-22 16:39] hasparus opened #117 "Don't print errors in MDX files"
Howdy 👋

I just encountered this fellow

We couldn't use a generated type in `.mdx` file regardless, so this error seems redundant.

Is there a way to specify file extensions in plugin options, so the error doesn't happen?

[2020-10-22 20:55] cometkim commented on #117
Hmm, I'm confusing. this plugin is notified by Gatsby what files have actually proceeded.

@hasparus Do you have GraphQL document snippets in the mdx file?
Could you share your project config or provide a minimal repro?

[2020-10-22 21:03] cometkim commented on #115
This has a story. v1 did that.

The main goal of this plugin is DX enhancement. I wanted to provide an auto-import to keep the module usecase, but because of the complexity due to so many possibilities of that approach, I replaced it with a way to use the global namespace.

I wondered if the module was still needed, but I couldn't find a case, so it was dropped because I wanted to keep the rest of

[2020-10-22 21:15] cometkim commented on #115
See https://github.com/cometkim/gatsby-plugin-typegen/pull/47 for more details

[2020-10-22 21:47] cometkim commented on #112
Nah, this won't work. Gatsby does support TypeScript out-of-box only for the webpack env, not for Gatsby APIs

or maybe can be done with `@babel/register`.... :thinking: I think this is kinda anti-pattern

[2020-10-22 21:47] #112 closed, assigned to cometkim

[2020-10-22 21:54] cometkim commented on #49
Gatsby provides a utility type `PageProps` contains `Data` and `Context` type parameters describe what injected into the page component.

Data can be the generated type from page queries, and Context is a subtype of the `SitePageContext` type.

The plugin knows what is the type for each page component and can automatically generate props type definitions.

#74

[2020-10-22 22:09] cometkim opened #120 "Error: Cannot use GraphQLSchema "[object GraphQLSchema]" from another module or realm."
[code]

The first time to use this plugin, the user will encounter this problem.

This is because the Gatsby environment does not allow multiple versions of graphql to be loaded.

(Gatsby v2.24.* uses GraphQL v14.7.0, codegen/tools uses v15)

Fixing the GraphQL version to 14.7.0 via the yarn resolutions field can resolve this

[code]

However, the plugin should completely delegates schema handling

[2020-10-22 22:12] cometkim commented on #40
It doesn't happen in the current version, but I'm not sure when it was gone. Closing this issue until the it is reported again.

[2020-10-22 22:24] cometkim commented on #113
@edykim has a good explanation on https://github.com/cometkim/gatsby-plugin-typegen/pull/114 for the cause of this problem.

The behavior seems to have changed on development as you suspect.

Fragments are loaded on the `onPreExtractQueries` hook.

And the hook executed **after** the `onPostBootstrap` hook on `gatsby develop`:
![image](https://user-images.githubusercontent.com/9696352/96936442-065

[2020-10-23 01:38] cometkim opened #121 "Generate type definitions from pluginOptionsSchema"
https://www.gatsbyjs.com/docs/node-apis/#pluginOptionsSchema

[2020-10-23 01:41] cometkim commented on #110
@jsbrain Not your fault. it's simply the plugin doesn't support gatsby-node yet.

I'm planning it for the next major version

[2020-10-23 01:46] cometkim commented on #97
I think the original issue is resolved in Gatsby v2.24.63. Closing this ticket.

I'm following up and trying to fix the plugin documents issue on #113

[2020-10-23 01:46] #97 closed, assigned to nobody

[2020-10-23 01:47] cometkim commented on #113
it duplicates a ticket: #98

[2020-10-23 01:48] cometkim commented on #98
@adonig you can keep track of this issue on #113

[2020-10-23 01:48] #98 closed, assigned to nobody

[2020-10-23 05:46] jsbrain commented on #110
Amazing, thx for your reply!
Do you already have an idea about the rough date?

[2020-10-23 09:12] vimtor commented on #115
Hi @cometkim! As you might imagine each developer is a world.

To starts things off I am using Webstom, so I cannot use that cool looking vscode extension. (Nevertheless, there is an [awesome plugin](https://plugins.jetbrains.com/plugin/8097-js-graphql) also for code completion and syntax highlight).

I would like to have the export file since I like organizing my React projects like this:
[code]

[2020-10-25 07:32] hasparus commented on #117
yup, I have a pageQuery in MDX file

[code]

I'm not sure if my config will be helpful, but [I have it public on GitHub right here](https://github.com/hasparus/homepage/blob/54f51c4ed22cbd46f57b1f22e16d3b840c1a3c0f/gatsby-config.ts#L49-L64).
I'm using `gatsby-plugin-mdx` with an MDX page inside of `/pages`.

[2020-10-26 06:25] cometkim opened #122 "Migrate the plugin options validation to be schema-based"
Currently, this plugin is using custom validation logic (which is not pretty) for the plugin options and provides type definition separately.

I recently realized that Gatsby already has an API for it.

https://www.gatsbyjs.com/docs/node-apis/#pluginOptionsSchema

It can be migrated to the schema-based validation

[2020-10-27 17:08] cometkim commented on #121
https://github.com/mrjono1/joi-to-typescript

[2020-10-31 18:37] orblazer commented on #81
Hello @cometkim, this bug is still present.
In the release `2.2.0` that PR #80 is missing, probably fail.

[2020-10-31 18:48] cometkim commented on #81
Oh no :cry:  @orblazer you right. Thank you for notifying it.

![image](https://user-images.githubusercontent.com/9696352/97787345-ddaced80-1bf4-11eb-9671-81ff7ef46f75.png)

[2020-10-31 19:25] acao opened #123 "new gatsby interface! also .cache/fragments/*.js is being deprecated"
Hello there!

first off, this plugin is fantastic and in my opinion makes a great candidate for shipping with gatsby much like graphiql/explorer, as we are looking to improve the default typescript experience, if that's something you're interested in.

i wanted to point out two things to you that I came across while working on improved `vscode-graphql` support for gatsby:

1. the new major version

[2020-11-01 02:01] orblazer opened #124 "Static query type is not generated after reboot"
Hello,
I play with this plugin and after an reboot (without run `gatsby clean`) the static query type is not generated because action `REPLACE_STATIC_QUERY` is not called (logic because the query haven't change).

I have try to find an way to fix it but the only action called on each time `when build`, `when start develop`, `when update` is `SET_GRAPHQL_DEFINITIONS` (definition : https://github.co

[2020-11-10 16:35] cometkim opened #126 "Leave description comments on generated type definition"
[code]

[2020-11-10 22:34] Samic8 commented on #109
Hi @danielivert. I changed the order and still getting the error. Are you using Gatsby cloud?

[2020-11-11 04:00] cometkim commented on #109
I believe it should be related to #113, affected by upstream behavior change.

But there is no time for maintenance these days 😢  will try my best this weekend

[2020-11-12 15:39] #84 closed, assigned to nobody

[2020-11-12 16:37] cometkim opened #131 "Remove dev-only query documents from plugin-documents.graphql"
For example, emitPluginDocuments: true is includes this query which is never intended

[code]

[2020-11-12 17:10] cometkim commented on #123
Thank you for the heads up @acao!

Fortunately, the typegen plugin does not depend on anything on the user's filesystem like `.cache` or `node_modules` since v2 :)

the new `definitions` field and the `onChangeGraphQLDefinitions` idea looks cool! that would definitely make it easier to integrate something with the composed GraphQL schema.

I think a plugin like this should have its own store/sched

[2020-11-12 17:16] cometkim commented on #40
Possibly happened again if I started to use the new `SET_GRAPHQL_DEFINITIONS` event. See #123

[code]

![image](https://user-images.githubusercontent.com/9696352/98972718-269a6580-2556-11eb-8836-60ccbb3c796a.png)

[2020-11-12 17:17] cometkim commented on #40
Need some heuristic to determine it is actually unnamed and ignore it

[2020-11-12 17:17] acao commented on #123
that's what we were hoping to do with `onChangeGraphQLDefinitions`, just trying to see if there is interest in such an API ! thank you

[2020-11-12 17:27] cometkim commented on #40
[code]

[2020-11-12 17:46] cometkim opened #132 "doc: change the recommendation for the vscode extension to vscode-graphql and GraphQL Config"
ToDos:
- [ ] Removes the Apollo GraphQL extension section
- [ ] Add example for the GraphQL Config
- [ ] Add demo screenshot or gif

Refs:
- [GraphQL Config](https://github.com/kamilkisiela/graphql-config) by @kamilkisiela
- [VSCode GraphQL Extension](https://github.com/graphql/vscode-graphql) by GraphQL Foundation

[2020-11-12 17:51] cometkim commented on #110
I will stabilize the plugin implementation over the next week and release v3 that relies on the new lifecycle hook.

The investigation into schema customization will probably be v4. I'm using a lot of schema builders recently, so I know it's really nice to have, but honestly, I'm not sure which is the best way to do

[2020-11-12 18:38] jsbrain commented on #110
Sounds good!
Meanwhile, do you have any idea how I could achieve getting those types anyhow?
Like can you think of any workaround I could apply or will I definitely have to time them myself? :D

[2020-11-21 21:57] Lisenish opened #133 "All files must be modules when the '--isolatedModules' flag is provided error in gatsby-types.ts"
When I run `tsc --noEmit` for type checks since I have isolatedModules config setting enabled I get this error `All files must be modules when the '--isolatedModules' flag is provided error in gatsby-types.ts` since generated file is just global declaration.

I can send PR with adding `//@ts-ignore` near `/* eslint-disable */ `at the top of the generated file. I'm not sure if it's a good solution

[2020-11-22 10:12] cometkim commented on #133
Hey @Lisenish, thanks for reporting.

You already can use `.d.ts` instead of `.ts` by just changing the `outputPath` option.

[code]

Yeah, this was the main concern of v2 (See https://github.com/cometkim/gatsby-plugin-typegen/pull/47) I looked for simplicity rather than designing complex options in 2.0. But it's easy to get mixed up, so I think there's still a chance for improvement :)

[2020-11-22 10:13] cometkim commented on #133
Do you think it would be better to make the `.d.ts` output default?

[2020-11-22 15:06] Lisenish commented on #133
@cometkim Oh, I somehow missed that option, thank you! :)

Yeah, I believe it should be the default actually since it's actually declaration what it is not a regular ts file. Also, I personally prefer to import it explicitly in `global.d.ts` so it's less magically accessible everywhere.
The only thing I mentioned before the `global.d.ts` import should be clearly described in installation steps or

[2020-11-22 15:06] #133 closed, assigned to nobody

[2020-11-24 09:30] akzhy opened #134 "Avoid usage of Maybe"
Hi,
Is it possible to avoid using `Maybe<T>` in the generated ts file? Currently whenever I am accessing a property I will have to ensure all the parent nodes are not undefined or it will throw error.

[2020-11-27 11:53] #134 closed, assigned to nobody

[2020-12-14 10:57] cometkim commented on #81
Published at v2.2.2

https://github.com/cometkim/gatsby-plugin-typegen/pull/135

[2020-12-14 10:57] #81 closed, assigned to cometkim

[2020-12-22 08:18] nabati opened #136 "Why define Maybe as T | undefined?"
Maybe this is a misunderstanding on my end, but it would be good to clarify.

In  [codegen.ts](https://github.com/cometkim/gatsby-plugin-typegen/blob/15a3526c2fbd376d045a75db92847df56c7436bf/plugin/src/workers/codegen.ts#L42) we define
[code]

Which gives us
[code]

If we then have a query
[code]

we will get the generated type.

[code]

AFAICS, this type does not match the data that we are gettin

[2020-12-30 15:44] cometkim commented on #136
Hey @nabati, this is a very good question. It's blurry as I decided this early in the project, but I have a few answers for this.

As you said, `Maybe<T> = T | undefined` is not the accurate description of the data being queried. However, I think it may be more useful.

First, many React projects (include the official gatsby starters) use optional props. If a project fully adapted to GraphQL, I re

[2020-12-30 15:57] cometkim commented on #136
The only case where this decision can be a problem is when I do the comparison null/undefined without casting, but it had not happened with most of my projects.

And I don't wanna expose the codegen configuration layer to users as much as possible.

[2021-01-01 16:39] #123 closed, assigned to cometkim

[2021-01-02 15:44] cometkim commented on #136
Closing this. But please feel free to reopen If you have any other ideas and happy new year!

[2021-01-02 15:44] #136 closed, assigned to nobody

[2021-01-04 04:41] Samic8 commented on #109
Hi, @cometkim I'm happy to help with a PR to resolve this issue. But I may need some guidance. Let me know if my time would be helpful and if it's worth your time to explain the solution. Thanks!

[2021-01-04 15:06] cometkim commented on #109
Hi @Samic8,

I was off here for months but now started over. You can watch the progress at #138. I'm going to change the behavior, so I don't recommend code contribution for now. But I will request you to test when the pre-release is ready.

[2021-01-05 20:21] cometkim commented on #134
Sorry @akzhy. I had missed the notification. I think this is a question about explicit vs implicit schema. I'll add a FAQ or document to explain this.

[2021-01-06 16:47] akzhy commented on #134
Hey @cometkim no problem, I fixed the issue by using Gatsby's schema customisation. I just had to specify which fields were non nullable.

[2021-01-07 13:33] christina-grannas commented on #110
I just ran into the same issue, now I know its not my fault 👍 Types for queries in gatsby-node would be awesome!

[2021-01-19 11:57] marconucara opened #139 "tagName option seems to be ignored"
I've both `gql` and `graphql` tag in my project and I want to generate only `graphql` because are the ones used by gatsby.

Still I got some error relative to `gql` queries.

Moreover, looking at the source of this plugin it seems to me that this option is never managed, am I wrong?

Thanks

EDIT:
I just noticed that you actually use the GRAPHQL_TAG_PLUCK_OPTIONS that include the correct identifie

[2021-01-19 12:58] cometkim commented on #139
As I mentioned from [README](https://github.com/cometkim/gatsby-plugin-typegen/tree/master/plugin#disclaimer) this plugin support only graphql tag from gatsby, so you would need additional codegen config for graphql-tag or something.

and there was an issue from tag pluck

https://github.com/cometkim/gatsby-plugin-typegen/issues/99

I'm not sure this has been resolved from upstream.

[2021-01-19 14:26] marconucara commented on #139
I actually need only graphql tag but other tags are included too if some file use both. I temporary solved removing `gql` queries from the file that use `graphql` queries, but it seems a bug to me.

[2021-01-26 12:34] tony opened #143 "gatsby-plugin-typegen 2.2.3: str.replace is not a function"
`"gatsby-plugin-typegen": "^2.2.2"` -> `"gatsby-plugin-typegen": "^2.2.3",`

[code]

[code]

yarn.lock

[code]

[2021-01-26 15:15] cometkim commented on #143
Hey @tony, Thank you for the reporting

Could you try: https://github.com/dotansimha/graphql-code-generator/releases/tag/%40graphql-codegen%2Fvisitor-plugin-common%401.18.2

You can pin this with yarn's `resolutions` fields in the `package.json`

[code]
and `yarn install`

[2021-01-26 15:27] tony commented on #143
The error still happens with the resolutions set

I use a monorepo so making an example is complex.

I won't be able to go into depth / show project config until tomorrow

<details>
<summary>yarn lock diff</summary>

[code]

</details>

[2021-01-26 15:30] cometkim commented on #143
It seems the visitor-plugin-common in your lock file is still `1.18.1`, not `1.18.2` (just published)

`yarn why @graphql-codegen/visitor-plugin-common` command may help you

[2021-01-26 15:34] cometkim commented on #143
or... just delete `yarn.lock` and install again?

[2021-01-26 15:47] tony commented on #143
[code]

With new `yarn.lock`

<details>
<summary>yarn lock diff</summary>

[code]

</details>

[2021-01-26 16:44] cometkim commented on #143
Strange. Are you seeing exactly the same stack trace?

[2021-01-26 16:53] tubone24 commented on #143
I had the same problem in my environment. (GitHub Actions Node 14).

<https://github.com/tubone24/portfolio/runs/1770687555?check_suite_focus=true>

<details>
<summary>Log</summary>

[code]

</details>

[2021-01-26 16:57] tony commented on #143
New stacktrace

[code]

[2021-01-26 17:07] cometkim commented on #143
Ah, I think you still have deps resolution problem.

It seems you are using `npm install` instead of `yarn install`, which does not guarantee the version you pinned.

Can you change it to `yarn install --frozen-lockfile` and check again?

[2021-01-26 17:39] cometkim commented on #143
and the @tony's new stacktrace... I'm going to report it upstream again.

[2021-01-26 22:07] cometkim opened #145 "Change release workflow tool to the changesets"

[2021-01-28 13:47] tony commented on #143
2.2.4  still gives this for me

Edit: I spoke too soon, this gives me the error still

[2021-01-29 11:52] cometkim commented on #143
Yeah, I've submitted PR to fix and waiting.

@tony We can try to manually apply this patch: https://github.com/dotansimha/graphql-code-generator/pull/5457

[2021-01-31 14:31] tony commented on #143
At the moment my current workaround avoiding upgrading + this in `package.json`:

[code]

[2021-02-18 23:55] Samic8 commented on #109
Hey @cometkim any update on this? I'm more than happy to help out fixing it if needed. Thanks!

[2021-03-05 09:34] mhretab opened #146 "Scalar JSON always undefined due to default config of JSON set to type never"
Hi,

in `DEFAULT_SHARED_CONFIG` scalar JSON is set to `never` and this is creating an issue for the generated type `gatsbyImageData` when using it with `gatsby-source-contentful`. Tried changing JSON type to `any` and that seems to fix it.

[2021-03-05 09:58] cometkim commented on #146
Hi @mhretab Thanks for the reporting.

I quit my job 3 months ago and haven't had a chance to explore the new Gatsby APIs. However, I think I have had enough rest. I will try again soon and this will definitely be included in v3.

And please share your work if it is public. It will be very helpful for investigation.

[2021-03-07 10:26] kije commented on #146
Also note that some gatsby source plugins set the type of some fields on the sourced node to type `JSON`. For example, with gatsby-source-craft, all date fields on the sourced nodes have type `JSON`.

Declaring the `Scalar['JSON']` as type `never` in the generated typescript definition thus prevents the user of this plugin from using these fields without  doing ugly and cumbersome typescript casts

[2021-03-12 19:07] #132 closed, assigned to nobody

[2021-03-15 10:30] jlvdh opened #151 "changeCaseAll.pascalCase is not a function"
I'm running

``
"gatsby": "^3.0.1",
``
``
"gatsby-plugin-typegen": "^2.2.4",
``

When I run
``
gatsby develop
``

I get the following error
[code]

[2021-03-15 20:46] cometkim commented on #151
HI @jlvdh, what is the version of graphql-codegen? `yarn why @graphql-codegen/visitor-plugin-common`

[2021-03-15 20:52] cometkim commented on #143
I had fixed the type error on graphql-codegen, and it seems to resolve this issue

@tony let me know if you still have a problem

[2021-03-15 20:52] #143 closed, assigned to cometkim

[2021-03-15 20:54] cometkim opened #152 "Own graphql parser and codegen"

[2021-03-15 22:05] tony commented on #143
Will do, thank you!

[2021-03-16 13:59] jlvdh commented on #151
Hi @cometkim, it's 1.19.0

[2021-03-16 15:54] cometkim commented on #151
cc @dotansimha

I'll send PR soon

[2021-04-02 14:07] 4ortytwo opened #153 "Typo Gatsby plugin page"
There is no slash after `__generated__` on the Gatsby plugin page in .eslintrc.js section. I looked for it here but it seems to be in place so here is a screenshot.

![Screenshot 2021-04-02 at 16 01 16](https://user-images.githubusercontent.com/44406493/113422269-aa9d9e80-93cc-11eb-85d8-20ab8f1cf90b.png)

[2021-04-07 00:28] Samic8 opened #156 "Github Sponsors / Open collective"
Hi @cometkim,

If you set up GitHub sponsors or open collective for this project. I would like to set up a monthly donation on behalf of Easy Agile.

Thanks!

[2021-04-11 21:29] jephjohnson opened #157 "AggregateError: GraphQLDocumentError: Unknown type "__FRAGMENT_TYPE_NAME__"."
gatsby-config.js
[code]

Package.json:
[code]

Error in terminal:

[code]

[2021-04-27 07:42] marcus13371337 opened #159 "gatsby-types.d.ts is not generated"
Hello!

I'm trying to install and set up this plugin, but I'm unable to get the types-file generated (gatsby-types.d.ts).

This is my config for this plugin:
[code]
After I run either `gatsby develop`  or `gatsby build`, the only files that end up in the `__generated__` folder is:
[code]

These are some relevant plugins that I'm are using:
[code]

I did some digging into your code, and it seems as

[2021-04-27 08:01] marcus13371337 commented on #159
Just wanted to give some more information. It seems as `QUERY_EXTRACTION_BABEL_SUCCESS` is actually triggered on `gatsby build`. Here are the gatsby build logs:
Action types.
[code]
typegen logs
[code]

[2021-04-27 08:38] cometkim commented on #159
yeah... I actually have been tracking and have noticed the lifecycle difference on `gatsby develop` vs `gatsby build`

https://github.com/cometkim/gatsby-lifecycle-watcher

I have a resolution to be included in the v3 release. I don't have spent a lot of time here... but I'll release it soon because I recently started dogfooding again.

[2021-04-27 08:54] marcus13371337 commented on #159
Just to be clear, I'm unable to generate the `gatsby-types.d.ts` for both commands

[2021-04-28 20:13] dgattey commented on #146
I had this exact problem today, where `gatsbyImageData` set on a Contentful type was always undefined and I couldn't figure out why. Temporarily changing `Scalars['JSON']` in the generated file from `never` to `any` fixed it.

Got around it locally by not using `Pick` to pull out the `gatsbyImageData` field and instead manually typing it myself. Technically not typesafe but I know if that field is

[2021-04-28 20:14] dgattey commented on #146
Out of curiosity why is JSON `never` to start with? It seems like that's just wrong.

[2021-04-29 03:25] cometkim commented on #146
Because the `JSON` typename is actually reserved by Gatsby internal.
https://github.com/gatsbyjs/gatsby/blob/6b4b7f81ec/packages/gatsby/src/schema/print.js#L33-L104

It was intentional to prevent trying to override it and I thought Gatsby itself doesn't expose JSON type which means unknown. Because basically the Gatsby query compiler can infer the shape from any data.

[2021-04-29 03:30] cometkim commented on #146
typegen plugin provides types strict much as possible unless there is a specific reason, but if `any` is reported to be useful for realworld, it will do so.

[2021-04-29 17:35] dgattey commented on #146
Thanks! `any` definitely works, but `Record<string, any>` may be even better given what JSON actually is

[2021-04-29 17:53] kije commented on #146
@dgattey @cometkim beware `Record<string, any>` might not improve things/not work for the gatsbyImage use case, as helper functions from gatsby-plugin-image (like `getImage`) expect to get a `ImageDataLike` type passed as argument.

`JSON: any` would work without the need for a cast in this case, as all types can be casted to any (and vice versa).
`JSON: Record<string, any>` on the other hand is n

[2021-05-02 17:49] cometkim opened #160 "codegen fails with parallel sourcing"
When using fragments, It seems to happen quite often, but not always.

[2021-05-03 20:55] kije opened #161 "Plugin option types not accurate/outdated (?) or bug regarding emitSchema"
First of all, thanks for this amazing plugin!

I noticed that either the types of this plugin's options are inaccurate/wrong in regards to emitSchema, or there is a bug in the plugin.

According to the [plugin option types for emitSchema](https://github.com/cometkim/gatsby-plugin-typegen/blob/master/plugin/src/types.ts#L99), I should be able to configure the plugin as follows

[code]
However, if I

[2021-05-07 03:27] KaiseiSato opened #162 "Query type generation fails sometimes"
# Overview
When running `gatsby build`, type generation sometimes fails.
The output file is generated. (e.g., gatsby-types.d.ts)
I am using the Headless CMS service.
The data type definitions are always generated successfully, but the query type generation fails sometimes.
Most query types are generated correctly.
But some types are sometimes completed without being generated.
When it fails, I hav

[2021-05-07 04:02] cometkim commented on #162
Thanks @KaiseiSato,

just to confirm if this is same issue with #160 did you enable `PARRAEL_SOURCING` flag?

[2021-05-07 04:39] KaiseiSato commented on #162
@cometkim
I have not changed the `PARALLEL_SOURCING` flag.
So it's not enabled.

[2021-05-10 05:31] j-yamamoto commented on #162
@cometkim
Thank you for recognizing this as an issue. I don't mean to push you, but is it gonna be fixed anytime soon?
If not, could you share us workarounds to avoid this issue?

[2021-05-10 20:10] cometkim commented on #145
Not available with P'n'P

[2021-05-10 20:10] #145 closed, assigned to cometkim

[2021-05-10 20:40] cometkim commented on #156
Hey @Samic8, Thanks for your amazing suggestion!

Actually, I had no idea about getting GitHub Sponsors or Open Collective, but it will definitely be a good option for me and future contributors.

I want this project to be merged into GatsbyJS somehow in some way. But I also wanna have enough time for good DX and stabilization.

Until then, I decided to receive financial contributions via Open Col

[2021-05-10 21:23] cometkim commented on #156
Added docs for Open Collective from #163

please open issue anytime If you have any other questions about this project :)

[2021-05-10 21:23] #156 closed, assigned to nobody

[2021-05-11 06:12] zandaleph commented on #115
@cometkim Just adding my two cents here - Typescript now explicitly discourages namespaces: https://www.typescriptlang.org/docs/handbook/namespaces-and-modules.html

On top of that, as a VSCode user, it isn't picking up these global definitions by default.  I'm not keen to add a bunch of config to both this plugin and my editor to make it work - basically, this plugin doesn't work out of the box f

[2021-05-11 16:45] cometkim commented on #146
Or I can manipulate the schema for field name `gatsbyImageData` to use `ImageDataLike` type directly

[2021-05-11 16:57] cometkim commented on #115
It's not to be used as a replacement for JavaScript objects and isn't relevant as long as the plugin deals only with **types** without any JavaScript semantics.

I mainly use coc.nvim, and I'm dogfooding this plugin with my coworkers using VSCode. This should work out of the box in any Gatsby project by default with no additional settings.

@zandaleph Can you provide me a reproduction that the plu

[2021-05-11 17:08] cometkim commented on #162
@j-yamamoto I'm not gonna fix this issue in v2 but in v3. Watch #138 for the progress.

v3 fix this issue by introducing a scheduler that relies on actual schema/definitions change instead of the order of lifecycle API.

I recommend that to commit and review the generated type definitions together for better DX.

[2021-05-12 03:24] zandaleph commented on #115
Hey @cometkim , thank you so much for getting back to me so quickly!

So, once I changed to `useStaticQuery` it worked a bit better.  Adding the plugin with no config to a freshly generated gatsby site results in something like this: https://github.com/zandaleph/bookish-carnival/tree/gatsby-plugin-typegen

`npm run develop` and `npm run build` both seem to work and add the correct parameterized ty

[2021-05-12 06:04] cometkim commented on #115
Ah I see, you don't even have `tsconfig.json`, I guess it will work after running `tsc --init`

[2021-05-12 06:41] zandaleph commented on #115
Ah!  I was lulled into too much a sense of security by Gatsby 3's new built-in typescript support.  I knew it seemed too easy.

You nailed it, running `npx tsc --init` got VSCode happy right away.  Thanks!

[2021-05-16 05:22] simnalamburt opened #165 "Specify supported node.js versions"
Type generation does not work as expected on Node.js v12. Should I consider this as a bug or an out-of-support usage?

I'll post reproduction steps later.

[2021-05-16 10:49] cometkim commented on #165
What does that mean of "does not work as expected"? It should work well on node versions supported by gatsbyjs and graphql-code-generator. I tested it on v12.22.1 and code generation works fine.

What are the gatsby version and the codegen version?

[2021-05-20 11:58] noVerity commented on #104
I tried looking at this, but I've run out of time and need to get back to other things, so I thought I'd just leave some notes.
`gatsby/graphql` offers `lexicographicSortSchema` as an export. Running that in `emitSchema.ts`  seems to update the output correctly (haven't verified) for the main schema which would just leave the plugin documents.
Unfortunately the package doesn't have the same for th

[2021-05-21 07:17] cometkim commented on #104
Thanks @noVerity, that's great to know graphql-js has `lexicographicSortSchema` utility. I think documents other than schemas always depend on the user-defined order, so we don't have to touch them.

yep, there is an issue opened for it #103, #131 and I'm working on v3. It will be done easily by using graphql visitor.

[2021-05-21 17:03] stefanpl commented on #159
Facing the same issue … quite frustrating, since it cannot be reproduced reliably, and breaks CI.
(parallel soucing is diabled)
Looking forward to v3 😊

[2021-06-09 12:27] cometkim opened #166 "[Case study] Theme composition"

[2021-06-11 07:05] blurfx commented on #120
if anyone is having this problem using Gatsby 3, fix the version of GraphQL to `15.3.0`.

*tested on Gatsby 3.6.2*

[2021-06-21 19:10] kalebheitzman opened #167 "Output scheme to theme instead of starter"
Consider the following example:

[code]

Shipping types with a theme by changing the output directory and this correctly puts the types in the theme that I'm developing. Is there an option to make the schema and plugin documents output inside of the theme instead of the main/starter project. I'm loading this plugin from the theme as well.

I'm using yarn workspaces to develop the theme as suggeste

[2021-06-22 02:28] cometkim commented on #166
#167

[2021-06-22 02:31] cometkim commented on #167
Well, to be honest, I've been thinking about this recently while using the plugin for my work, and there's no clear answer yet.

The difficult part is that this plugin cannot run independently of the site as it depends on the fully Gatsby.js lifecycle.

[2021-07-24 08:31] noukenolife commented on #126
Hi, @cometkim.
Is this issue about leaving comments in graphql on generated **typescript** type definition like below?

[code]

[code]

[2021-07-24 23:37] cometkim commented on #126
that is not supported by the graphql-code-generator AFAIK.

[2021-09-16 16:53] cometkim opened #168 "Gatsby v4"

[2021-10-22 07:54] cometkim commented on #168
v4 is now officially released

https://www.gatsbyjs.com/docs/reference/release-notes/v4.0/

[2022-01-27 14:15] nagiek opened #169 "Update @graphql-tools deps"
Hi,

Thank you for this project, it’s very helpful.

I wanted to ask if we could update the @graphql-tools deps of this project. There are a few bug fixes which this project would benefit from. Specifically, pull request [#3081](/ardatan/graphql-tools/pull/3081), which fixes a `checkValidationErrors` bug in @graphql-tools/utils.

This would be a major upgrade to v8 of the package. Apparently this

[2022-01-30 10:25] youngrove opened #170 "why noExport default options set true..?"
Issue
- useStaticQuery auto fixed but default export options set noExport.

My auto generated types is here..
[code]

But, I can't use GatsbyTypes for My query.
<img width="1080" alt="Screen Shot 2022-01-30 at 7 24 16 PM" src="https://user-images.githubusercontent.com/40445771/151695844-9d8787e2-7945-47d7-9bc9-f27bc3c2af11.png">

In codegen.ts
[code]

[2022-01-30 14:34] youngrove commented on #170
I added this line when I used generated types...
[code]
And I Got this error. I Knew If I change ts.config file It will resolved..
But I wonder why set default noexport options set true..

'gatsby-types.ts' cannot be compiled under '--isolatedModules' because it is considered a global script file. Add an import, export, or an empty 'export {}' statement to make it a module.

[2022-01-31 12:52] cometkim commented on #170
As you can see, the codegen output doesn't use any module output, but just declare the global namespace `GatsbyTypes`.

This may be incompatible with the `--isolatedModules`, so you can explicitly mark it as `*.d.ts` if needed.

[2022-01-31 17:52] #170 closed, assigned to nobody

[2022-02-08 06:02] fzyzcjy opened #171 "Lots of unmet peer dependencies?"
Hi thanks for the plugin! However I see a lot of unmet peer dep as follows. I guess maybe this repo should upgrade a bit?

[code]

[2022-03-07 17:29] knpwrs commented on #110
Is there a recommended work around for this in the interim? Can the queries be placed somewhere where types are generated and then be referenced from `gatsby-node.ts`?

[2022-03-07 17:39] knpwrs commented on #110
As a temporary workaround I added the following `codegen.yml` to my project:

[code]

Then I run a generate script defined as such:

[code]

This makes the type generation for the `gatsby-*.ts` files out-of-band, but it works for me for root queries until this plugin supports `gatsby-node.ts`.

[2022-03-14 20:43] cometkim commented on #40
I copy-pasted the exact logic from here: https://github.com/gatsbyjs/gatsby/blob/d163724/packages/gatsby/src/query/file-parser.js#L33 :sweat_smile:

This will be fixed in v3

[2022-03-14 20:43] #40 closed, assigned to nobody

[2022-03-14 20:43] cometkim commented on #103
This will be fixed in v3.

[2022-03-14 20:43] #103 closed, assigned to nobody

[2022-03-14 20:44] cometkim commented on #104
This will be fixed in v3. Thanks again @noVerity

[2022-03-14 20:44] #104 closed, assigned to nobody

[2022-03-14 20:45] cometkim commented on #113
This has been fixed in v3 (currently RC release available)

[2022-03-14 20:45] #113 closed, assigned to cometkim

[2022-03-14 20:46] cometkim commented on #117
This should be fixed in v3 (gatsby-plugin-typegen@3.0.0-rc.0)

[2022-03-14 20:51] cometkim commented on #120
This can happen again anytime if there is a conflicting version of graphql-tools inside, and there doesn't seem to be any other way other than Yarn's `resolutions` when the problem arises.

(Unless https://github.com/ardatan/graphql-tools/issues/3599 come)

v3 uses dependencies as of Gatsby v4. (graphql@15)

Revisit the issue when using an older version or when a Gatsby v5 is released.

[2022-03-14 20:51] #120 closed, assigned to cometkim

[2022-03-14 20:53] cometkim commented on #122
This has been done in v3 and will be released soon

[2022-03-14 20:53] #122 closed, assigned to cometkim

[2022-03-14 20:56] cometkim commented on #124
This is fixed in v3. (currently rc)

v3 relies on `SET_SCHEMA` and `SET_GRAPHQL_DEFINITIONS`, which is much more stable. Thanks @orblazer

[2022-03-14 20:56] #124 closed, assigned to cometkim

[2022-03-14 20:57] cometkim commented on #131
This is fixed in v3.

[2022-03-14 20:57] #131 closed, assigned to cometkim

[2022-03-14 21:00] cometkim commented on #139
This is fixed in v3 (current RC)
v3 relies on Gatsby's `SET_GRAPHQL_DEFINITIONS` API instead of graphql-tools. so It would not break again.

If you need a separate gql tag for non-gatsby env, you may still need graphql-tools.

[2022-03-14 21:00] #139 closed, assigned to cometkim

[2022-03-14 21:02] cometkim commented on #99
This is fixed in v3 (current RC)

v3 relies on Gatsby's `SET_GRAPHQL_DEFINITIONS API` and doesn't use graphql-tag-pluck anymore.

[2022-03-14 21:02] #99 closed, assigned to cometkim

[2022-03-14 21:04] cometkim commented on #146
This is fixed in v3 (currently RC)

As clear solution for most sites, the type of JSON is changed to `any`.

Support for more precise types for image queries is a major change and will be revisited in v4.

[2022-03-14 21:04] #146 closed, assigned to cometkim

[2022-03-14 21:06] cometkim commented on #159
This should be fixed in v3, and I will test it on my Gatsby Cloud today.

v3 doesn't use `QUERY_EXTRACTION_BABEL_SUCCESS` action anymore.

[2022-03-14 21:09] cometkim commented on #162
I admit it wasn't a good guide. Schema output was not stable in v2.

I fixed this (and also the schema output is now stable!) in v3 and it is available in the current RC version.

[2022-03-14 21:20] cometkim commented on #167
I've considered providing a separate binary including Gatsby's default schema, but considering that the Gatsby Theme composition can be very heavy and complex, it is not a realistic solution. It only makes sense when it's all configured.

My suggestion would be to emit the type from the actual configured site, but give it an extra option to put output closer to the theme. (e.g. multiple outputs, [

[2022-03-14 21:21] cometkim commented on #157
This is fixed in v3 (currently RC)

[2022-03-14 21:21] #157 closed, assigned to cometkim

[2022-03-14 21:24] #152 closed, assigned to nobody

[2022-04-25 15:57] LekoArts commented on #110
As part of this RFC/Initiative https://github.com/gatsbyjs/gatsby/discussions/35420 I have a WIP PR up for an initial implementation. I have support for `gatsby-node.ts` working. I'd be really happy if you could follow that discussion and once I have a version published to try out, you could try it out. Thanks!

[2022-05-11 13:33] stretch0 opened #173 "How to run as part of pre script?"
Is it possible to run this plugin as part of a pre script?

Types get generated when developing which is fine but would good to then gitignore them and have them generated when a build happens.

This mans when the next developer pulls down the code changes, the app wont run because it can't start with missing types / interfaces.

Running a codegen in a pre start script of some description would so

[2022-05-11 13:57] cometkim commented on #173
No. Because this plugin is deeply dependent on the GatsbyJS process, it cannot currently be run independently.

Since v3, It may provide a feature flag to kill the gatsby process immediately after emmitting files.

[2022-05-11 15:16] stretch0 commented on #173
Does that mean `__generated__/gatsby-types.ts` can't be gitignored?

[2022-05-11 15:21] cometkim commented on #173
... If you want type-check first. I guess so.

[2022-05-11 15:22] stretch0 commented on #173
Actually, nvm. Just realised it's because we were running our `tsc` command before the app had started

[code]

Have moved `tsc` to poststart script now

[code]

[2022-05-11 15:22] #173 closed, assigned to nobody

[2022-05-11 15:25] cometkim commented on #173
Hmm well, Just sayin fyi

Since types in GatsbyJS are inferred after the query compiler is executed, there is no way to check it completely before that process done at least once.

[2022-06-12 18:56] cometkim commented on #109
In v3, gatsby-plugin-typegen will not run on Gatsby Cloud env anymore.

[2022-06-12 18:56] #109 closed, assigned to cometkim

[2022-06-12 18:57] #117 closed, assigned to cometkim

[2022-06-12 18:57] #159 closed, assigned to cometkim

[2022-06-12 18:57] #160 closed, assigned to cometkim

[2022-06-12 18:58] cometkim commented on #161
Thanks for reporting. This should be fixed in v3.

[2022-06-12 18:58] #161 closed, assigned to cometkim

[2022-06-12 18:59] cometkim commented on #162
Please feel free to report another issue If this is reproduced after v3

[2022-06-12 18:59] #162 closed, assigned to cometkim

[2022-06-12 19:00] #168 closed, assigned to cometkim

[2022-06-12 19:00] cometkim commented on #169
Now all dependencies are up-to-date in v3.

[2022-06-12 19:00] #169 closed, assigned to nobody

[2022-06-12 19:00] cometkim commented on #171
Now all dependencies are up-to-date in v3

[2022-06-12 19:00] #171 closed, assigned to nobody

[2022-06-12 19:01] #153 closed, assigned to nobody

[2022-06-12 19:04] #121 closed, assigned to nobody

[2022-06-12 19:04] #111 closed, assigned to cometkim

[2022-06-12 19:06] cometkim commented on #165
It has dropped support for Node.js v12.

[2022-06-12 19:06] #165 closed, assigned to nobody

[2022-06-12 19:06] #126 closed, assigned to nobody

[2022-06-12 19:07] cometkim commented on #108
This is resolved via #138

[2022-06-12 19:07] #108 closed, assigned to cometkim

[2022-06-12 19:09] cometkim commented on #85
The schema and documents outputs are stable since v3.

I will open another issue for further enhancement on CI env

[2022-06-12 19:09] #85 closed, assigned to cometkim

[2022-06-12 20:18] cometkim opened #174 "Next milestone after Gatsby's builtin Typegen support"
GatsbyJS now provides [builtin Typegen for GraphQL queries feature](https://www.gatsbyjs.com/blog/how-to-use-gatsby-graphql-type-generation/), which was [ported from gatsby-plugin-typegen v3](https://github.com/gatsbyjs/gatsby/discussions/35420)

This was a major milestone of gatsby-plugin-typegen [as a long time](https://github.com/gatsbyjs/gatsby/discussions/18983#discussioncomment-102623). Now

[2022-06-12 20:18] #28 closed, assigned to nobody

[2022-06-12 20:19] #29 closed, assigned to nobody

[2022-06-12 20:27] #27 closed, assigned to cometkim

[2022-06-12 20:28] cometkim commented on #27
Move discussions here to #174

[2022-06-12 22:04] cometkim commented on #151
I haven't been able to confirm this since I updated the dependencies. If it reproduces in v3, please re-open the issue.

[2022-06-12 22:04] #151 closed, assigned to cometkim